  ## Experiment No: 2
Student Name and Roll Number: Akshat Yadav 21CSU497 <br>
Semester /Section: III / CC-CC<br>
Link to Code:<br>
Date: 26th August, 2022<br>
Faculty Signature:<br>
Remarks:

### Objective
To familiarize the students about Variable Concepts (part-2).


# Exercise

## 1

**How do you tell Python that a variable is a string (characters) instead of a number?**

In [ ]:
We can define that the variable is a string by the following method. Defining a variable with the syntax str() helps python
understand that the entered variable is a string.

##  2

**Once you have created a variable, can you change the value that is assigned to it?**

In [ ]:
We can easily change the value of the variable by defining it again. For example:
We can define a variable like, x = 10
after we can simply write x = 20, now the value of x will be 20.

##  3

**With variable names, is TEACHER the same as TEACHEr?**

In [ ]:
No the variable names are case sensitive, hence TEACHER and TEACHEr are two different variable.

##  4

**Is 'Blah' the same as "Blah" to Python?**

In [ ]:
Yes, both single and double quotes are used to define strings in Python, hence 'Blah' and "Blah" are same in Python

##  5

**Is '4' the same as 4 to Python?** <br>
Note the commas around 4.

In [ ]:
No, '4' and 4 are different to Python as '4' is a string to Python language whereas 4 is an integer.

##  6

**Which of the following is not a correct variable name? Why?**

**a) Teacher2 <br> b) 2Teacher <br> c) teacher_25 <br> d) TeaCher**

In [ ]:
2Teacher is not a correct variable name in Python, since variables in Python can not be defined with a number in start.

##  7

**Is "10" a number or a string?**

In [ ]:
"10" is a string to Python language since it is defined with double quotes.
It would be an integer if it would have been defined without the double quotes.

##  8

**What is the value of variable n after the following instructions are executed?**

    j=5

    k=10

    n=j*k

In [ ]:
The value of n after the given instruction are executed will be 50.

##  9

**Exactly what is output by the following if the user enters 24 in response to the input prompt.**

age=input('How old are you?: ')

print('You are', age, 'years old')

In [ ]:
The output of the following code will be "You are 24 years old".